#content {
  display: none;
}

body {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  padding: 2em;
  flex: 1;
  margin: 3em auto;
}
